[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
channels = "*"
Django = "*"
channels_redis = "*"
asgiref = "*"

[requires]
python_version = "3.5"
